In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import data_description

# get_description() is a function to get the description of any column name or a value.
# It takes the column/value name, or any list of them:
from data_description import get_description

%matplotlib inline
sns.set_style('darkgrid')

In [8]:
df= pd.read_csv(r"data\train.csv")
x_train= df.drop(columns=["SalePrice"],axis = 1 )
y_train= pd.DataFrame(df.loc[:,"SalePrice"])

In [16]:
cols_64_80 = pd.DataFrame(df.iloc[:,64:])

cols_64_80

,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,TA,Y,0,40,0,0,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,TA,Y,349,0,0,0,0,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,TA,Y,0,60,0,0,0,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,TA,Y,366,0,112,0,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,TA,Y,736,68,0,0,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [83]:
cols = list(cols_64_80.columns)
for col in cols:
    print(f" {col}  : {get_description(col)}")

 GarageCond  : Garage condition
 PavedDrive  : Paved driveway
 WoodDeckSF  : Wood deck area in square feet
 OpenPorchSF  : Open porch area in square feet
 EnclosedPorch  : Enclosed porch area in square feet
 3SsnPorch  : Three season porch area in square feet
 ScreenPorch  : Screen porch area in square feet
 PoolArea  : Pool area in square feet
 PoolQC  : Pool quality
 Fence  : Fence quality
 MiscFeature  : Miscellaneous feature not covered in other categories
 MiscVal  : $Value of miscellaneous feature
 MoSold  : Month Sold (MM)
 YrSold  : Year Sold (YYYY)
 SaleType  : Type of sale
 SaleCondition  : Condition of sale
 SalePrice  : SalePrice

In [27]:
#number of rows we have
n= df.shape[0]

In [84]:
#find distinct values in every column
def dist(n,m):
    n= df.shape[0]
    liste = []
    for i in range(n):
        
        liste.append(cols_64_80.iloc[i,m])
    liste = np.unique(liste)       
    return liste


for i in range(16):
    
    print(f"{cols_64_80.columns[i]} : {dist(n,i)}")  
    print("\n")

GarageCond : ['Ex' 'Fa' 'Gd' 'Po' 'TA' 'nan']

PavedDrive : ['N' 'P' 'Y']


WoodDeckSF : [  0  12  24  26  28  30  32  33  35  36  38  40  42  44  45  48  49  52
  53  55  56  57  58  60  63  64  66  68  70  72  74  78  80  81  84  85
  86  87  88  89  90  92  95  96  97  98 100 103 104 105 106 108 110 112
 113 114 115 116 117 120 121 122 123 124 125 126 127 128 132 133 135 136
 138 139 140 141 142 143 144 145 146 147 148 149 150 153 154 155 156 158
 159 160 161 162 164 165 166 168 169 170 171 172 173 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 190 192 194 195 196 197 198 199 200
 201 202 203 206 207 208 209 210 212 214 215 216 218 219 220 222 224 227
 228 229 232 233 234 235 236 237 238 239 240 241 242 243 245 248 250 252
 253 255 256 257 260 261 262 263 264 265 268 269 270 272 276 278 280 283
 288 289 290 292 294 295 296 298 300 301 302 303 304 305 306 307 309 312
 314 315 316 320 321 322 324 325 326 327 328 333 335 340 342 344 349 351
 352 353 355 356 361 362 364 365 366 367 370 371 379 380 382 384 390 392
 394 400 402 403 404 406 409 414 416 418 421 426 431 436 439 441 448 466
 468 474 476 486 495 500 503 509 511 517 519 536 550 574 576 586 635 668
 670 728 736 857]


OpenPorchSF : [  0   4   8  10  11  12  15  16  17  18  20  21  22  23  24  25  26  27
  28  29  30  32  33  34  35  36  38  39  40  41  42  43  44  45  46  47
  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65
  66  67  68  69  70  72  73  74  75  76  77  78  80  81  82  83  84  85
  86  87  88  90  91  92  93  94  95  96  98  99 100 101 102 103 104 105
 106 108 110 111 112 113 114 116 117 118 119 120 121 122 123 124 125 126
 128 129 130 131 132 133 134 135 136 137 138 140 141 142 144 146 148 150
 151 152 154 155 156 158 159 160 162 166 168 169 170 172 174 175 176 180
 182 184 185 187 188 189 191 192 195 198 199 200 204 205 207 208 210 211
 213 214 224 228 229 231 234 235 236 238 240 241 243 244 247 250 252 258
 260 262 263 265 267 274 282 285 287 288 291 292 304 312 319 341 364 406
 418 502 523 547]


EnclosedPorch : [  0  19  20  24  30  32  34  36  37  39  40  42  44  48  50  52  54  56
  60  64  67  68  70  77  80  81  84  87  90  91  94  96  98  99 100 102
 105 108 112 114 115 116 120 123 126 128 129 130 134 136 137 138 140 143
 144 145 148 150 154 156 158 160 162 164 168 169 170 172 174 176 177 180
 183 184 185 189 190 192 194 196 198 200 202 205 208 210 212 214 216 218
 220 221 224 226 228 230 234 236 239 240 242 244 248 252 254 259 264 268
 272 275 280 286 291 293 294 301 318 330 386 552]


3SsnPorch : [  0  23  96 130 140 144 153 162 168 180 182 196 216 238 245 290 304 320
 407 508]


ScreenPorch : [  0  40  53  60  63  80  90  95  99 100 116 119 120 122 126 128 130 140
 142 143 144 145 147 152 153 154 155 156 160 161 163 165 168 170 175 176
 178 180 182 184 185 189 190 192 197 198 200 204 210 216 220 222 224 225
 233 234 252 259 260 263 265 266 271 273 276 287 288 291 312 322 374 385
 396 410 440 480]


PoolArea : [  0 480 512 519 555 576 648 738]


PoolQC : ['Ex' 'Fa' 'Gd' 'nan']


Fence : ['GdPrv' 'GdWo' 'MnPrv' 'MnWw' 'nan']


MiscFeature : ['Gar2' 'Othr' 'Shed' 'TenC' 'nan']


MiscVal : [    0    54   350   400   450   480   500   560   600   620   700   800
  1150  1200  1300  1400  2000  2500  3500  8300 15500]


MoSold : [ 1  2  3  4  5  6  7  8  9 10 11 12]


YrSold : [2006 2007 2008 2009 2010]


SaleType : ['COD' 'CWD' 'Con' 'ConLD' 'ConLI' 'ConLw' 'New' 'Oth' 'WD']


SaleCondition : ['Abnorml' 'AdjLand' 'Alloca' 'Family' 'Normal' 'Partial']

In [79]:
cols_64_80.describe()

,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [80]:
#we find which columns have null values
cols_64_80.isnull().sum()

GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
dtype: int64